extends ../../base

block head
  title Admin Tours | Natours
  link(rel='stylesheet' href='/css/admin.css')

block content
  .admin-container
    // Admin Sidebar
    include _adminSidebar

    // Main Content Area
    main.admin-main
      // Top Header
      header.admin-header
        .admin-header__left
          h1.admin-header__title Tours Management
          p.admin-header__subtitle Manage all tours and their content
        .admin-header__right
          .admin-header__actions
            a.btn.btn--green.btn--small(href='/admin/tours/new') 
              svg.btn__icon
                use(xlink:href='/img/icons.svg#icon-plus')
              span Add New Tour
            a.btn.btn--white.btn--small(href='/') View Site

      // Tours Content
      .admin-content
        // Search and Filters
        .admin-filters
          .admin-search
            input.admin-search__input#searchInput(type='text' placeholder='Search tours...')
            svg.admin-search__icon
              use(xlink:href='/img/icons.svg#icon-search')
          
          .admin-filters__controls
            select.admin-filter#difficultyFilter
              option(value='') All Difficulties
              option(value='easy') Easy
              option(value='medium') Medium
              option(value='difficult') Difficult
            
            select.admin-filter#priceFilter
              option(value='') All Prices
              option(value='0-100') $0 - $100
              option(value='100-500') $100 - $500
              option(value='500+') $500+

        // Tours Table
        .admin-table-container
          table.admin-table
            thead.admin-table__head
              tr
                th.admin-table__header
                  input.admin-table__checkbox#selectAll(type='checkbox')
                th.admin-table__header Tour
                th.admin-table__header Difficulty
                th.admin-table__header Price
                th.admin-table__header Rating
                th.admin-table__header Status
                th.admin-table__header Actions
            tbody.admin-table__body#toursTableBody
              // Tours will be populated by JavaScript

        // Pagination
        .admin-pagination#toursPagination
          // Pagination will be populated by JavaScript

    // Tour Modal
    .admin-modal#tourModal
      .admin-modal__overlay
      .admin-modal__content
        .admin-modal__header
          h3.admin-modal__title#tourModalTitle Add New Tour
          button.admin-modal__close#closeTourModal
            svg
              use(xlink:href='/img/icons.svg#icon-x')
        
        .admin-modal__body
          form.admin-form#tourForm
            .admin-form__row
              .admin-form__group
                label.admin-form__label(for='tourName') Tour Name
                input.admin-form__input#tourName(type='text' name='name' required)
              
              .admin-form__group
                label.admin-form__label(for='tourPrice') Price ($)
                input.admin-form__input#tourPrice(type='number' name='price' min='0' step='0.01' required)
            
            .admin-form__row
              .admin-form__group
                label.admin-form__label(for='tourDifficulty') Difficulty
                select.admin-form__select#tourDifficulty(name='difficulty' required)
                  option(value='') Select Difficulty
                  option(value='easy') Easy
                  option(value='medium') Medium
                  option(value='difficult') Difficult
              
              .admin-form__group
                label.admin-form__label(for='tourDuration') Duration (days)
                input.admin-form__input#tourDuration(type='number' name='duration' min='1' required)
            
            .admin-form__row
              .admin-form__group
                label.admin-form__label(for='tourMaxGroupSize') Max Group Size
                input.admin-form__input#tourMaxGroupSize(type='number' name='maxGroupSize' min='1' required)
              
              .admin-form__group
                label.admin-form__label(for='tourStartLocation') Start Location
                input.admin-form__input#tourStartLocation(type='text' name='startLocation' required)
            
            .admin-form__group
              label.admin-form__label(for='tourSummary') Summary
              textarea.admin-form__textarea#tourSummary(name='summary' rows='3' required)
            
            .admin-form__group
              label.admin-form__label(for='tourDescription') Description
              textarea.admin-form__textarea#tourDescription(name='description' rows='5' required)
            
            .admin-form__group
              label.admin-form__label(for='tourImageCover') Cover Image
              input.admin-form__file#tourImageCover(type='file' name='imageCover' accept='image/*')
            
            .admin-form__group
              label.admin-form__label(for='tourImages') Tour Images (max 3)
              input.admin-form__file#tourImages(type='file' name='images' accept='image/*' multiple)
            
            .admin-form__actions
              button.btn.btn--white.btn--small(type='button' id='cancelTour') Cancel
              button.btn.btn--green.btn--small(type='submit' id='saveTour') Save Tour

    // Delete Confirmation Modal
    .admin-modal#deleteModal
      .admin-modal__overlay
      .admin-modal__content.admin-modal__content--small
        .admin-modal__header
          h3.admin-modal__title Confirm Delete
          button.admin-modal__close#closeDeleteModal
            svg
              use(xlink:href='/img/icons.svg#icon-x')
        
        .admin-modal__body
          p.admin-modal__message Are you sure you want to delete this tour? This action cannot be undone.
          
          .admin-modal__actions
            button.btn.btn--white.btn--small#cancelDelete Cancel
            button.btn.btn--red.btn--small#confirmDelete Delete Tour

    // Loading Overlay
    .admin-loading#adminLoading
      .admin-loading__spinner
        svg
          use(xlink:href='/img/icons.svg#icon-loader')

block scripts
  script(src='/js/admin-tours.js')
