extends ../../base

block head
  title Admin Users | Natours
  link(rel='stylesheet' href='/css/admin.css')

block content
  .admin-container
    // Admin Sidebar
    include _adminSidebar

    // Main Content Area
    main.admin-main
      // Top Header
      header.admin-header
        .admin-header__left
          h1.admin-header__title Users Management
          p.admin-header__subtitle Manage all users and their roles
        .admin-header__right
          .admin-header__actions
            a.btn.btn--green.btn--small(href='/admin/users/new') 
              svg.btn__icon
                use(xlink:href='/img/icons.svg#icon-user-plus')
              span Add New User
            a.btn.btn--white.btn--small(href='/') View Site

      // Users Content
      .admin-content
        // Search and Filters
        .admin-filters
          .admin-search
            input.admin-search__input#searchInput(type='text' placeholder='Search users...')
            svg.admin-search__icon
              use(xlink:href='/img/icons.svg#icon-search')
          
          .admin-filters__controls
            select.admin-filter#roleFilter
              option(value='') All Roles
              option(value='user') User
              option(value='guide') Guide
              option(value='lead-guide') Lead Guide
              option(value='admin') Admin
            
            select.admin-filter#activeFilter
              option(value='') All Status
              option(value='true') Active
              option(value='false') Inactive

        // Users Table
        .admin-table-container
          table.admin-table
            thead.admin-table__head
              tr
                th.admin-table__header
                  input.admin-table__checkbox#selectAllUsers(type='checkbox')
                th.admin-table__header User
                th.admin-table__header Email
                th.admin-table__header Role
                th.admin-table__header Status
                th.admin-table__header Joined
                th.admin-table__header Actions
            tbody.admin-table__body#usersTableBody
              // Users will be populated by JavaScript

        // Pagination
        .admin-pagination#usersPagination
          // Pagination will be populated by JavaScript

    // User Modal
    .admin-modal#userModal
      .admin-modal__overlay
      .admin-modal__content
        .admin-modal__header
          h3.admin-modal__title#userModalTitle Add New User
          button.admin-modal__close#closeUserModal
            svg.admin-modal__close-icon
              use(xlink:href='/img/icons.svg#icon-x')
        
        .admin-modal__body
          form.admin-form#userForm
            .admin-form__row
              .admin-form__group
                label.admin-form__label(for='userName') Full Name
                input.admin-form__input#userName(type='text' name='name' required)
              
              .admin-form__group
                label.admin-form__label(for='userEmail') Email
                input.admin-form__input#userEmail(type='email' name='email' required)
            
            .admin-form__row
              .admin-form__group
                label.admin-form__label(for='userRole') Role
                select.admin-form__select#userRole(name='role' required)
                  option(value='') Select Role
                  option(value='user') User
                  option(value='guide') Guide
                  option(value='lead-guide') Lead Guide
                  option(value='admin') Admin
              
              .admin-form__group
                label.admin-form__label(for='userPassword') Password
                input.admin-form__input#userPassword(type='password' name='password' required)
            
            .admin-form__group
              label.admin-form__label(for='userPhoto') Profile Photo
              input.admin-form__file#userPhoto(type='file' name='photo' accept='image/*')
            
            .admin-form__actions
              button.btn.btn--white.btn--small(type='button' id='cancelUser') Cancel
              button.btn.btn--green.btn--small(type='submit' id='saveUser') Save User

    // Delete Confirmation Modal
    .admin-modal#deleteUserModal
      .admin-modal__overlay
      .admin-modal__content.admin-modal__content--small
        .admin-modal__header
          h3.admin-modal__title Confirm Delete
          button.admin-modal__close#closeDeleteUserModal
            svg.admin-modal__close-icon
              use(xlink:href='/img/icons.svg#icon-x')
        
        .admin-modal__body
          p.admin-modal__message Are you sure you want to delete this user? This action cannot be undone.
          
          .admin-modal__actions
            button.btn.btn--white.btn--small#cancelDeleteUser Cancel
            button.btn.btn--red.btn--small#confirmDeleteUser Delete User

    // Loading Overlay
    .admin-loading#adminLoading
      .admin-loading__spinner
        svg.admin-loading__spinner-icon
          use(xlink:href='/img/icons.svg#icon-loader')

block scripts
  script(src='/js/admin-users.js')
